.list
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.listing-heading{
    width: 75%;
}
.listingScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3f3ff;
}
.filter
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    padding: 20px;
    border-radius: 15px;
    margin-bottom:10px ;
}
.filter input{
    border: none;
    outline: none;
    background-color: white;
    padding: 7px;
    text-align: center;
    width: 115px;
}
.cri button{
    padding: 15px;
    width: 90px;
    height: 50px;
    color: white;
    border-radius: 15px;
    background: #151511;
}