.card {
    height: auto;
    width: 355px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.card:hover  {
    transform: scale(1.05);
    border: 1px solid #88c6f7;
    left: 378px;
    top: -145px;
}

.card-image {
    background-image: url('../land-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
    width: 100%;
}

.card-details {
    text-align: left;
    padding: 2px 10px;
    width: 350px;
}

.card-details div {
    margin: 5px 0;
}

.adress {
    font-size: 1.1rem;
    font-weight: 500;
    color: #3f3838;
    width: 100%;
}

.price {
    font-weight: bolder;
    font-size: 1.1rem;
}


