  
  body {
    font-family: "Oswald", sans-serif;
    -webkit-font-smoothing: antialiased;
    /* font-smoothing: antialiased; */
  }
  
  .h1 {
    text-shadow: 0 0 11px rgba(0,0,0,0.5);
    line-height: .95;
    color: #66fcf1;
    font-weight: 900;
    font-size: 150px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  #page1{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-image: url('https://images.unsplash.com/photo-1583467875263-d50dec37a88c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
  }
  .center {
    position: absolute;
    /* margin: auto; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .btn {
    margin: 0 auto;
    width: 170px;
    height: 60px;
    padding: 6px 0 0 3px;
    border: 2px solid #66fcf1;
    border-radius: 2px;
    background: none;
    font-size: 16px;
    line-height: 54px;
    color: #fff;
    letter-spacing: .25em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #66fcf1;
    color: #10151B;
    box-shadow: 0 0 11px rgba(0,0,0,0.5);
  }
